:root {
  --light: rgb(230, 230, 230);
  --dark: rgba(10, 10, 10, 0.9);
  --text: #111;
  --red: rgb(230, 30, 30);
  --link: #007eb6;
  --bg-blue: #004a86;
  --light-orange: #eab631;
  --dark-orange: #c98f2f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 120%;
  color: var(--light);
  line-height: 1.4;
  background: var(--bg-blue);
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 980px;
  .content {
    margin-top: 0rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // border-left: 2px solid #007eb66e;
    // border-radius: 4px;
  }
}

img {
  max-width: 100%;
}

a {
  color: var(--light);
  opacity: 0.85;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  border-left: 2px solid var(--light);
  padding-left: 1rem;
  margin: 1rem 0;
}

h1,
h2 {
  color: var(--light-orange);
}
