.bio-container {
  margin-top: 10vh;
}

.bio {
  color: var(--light);
  max-width: 480px;
  margin: 0px auto;
}
.bio .image-container {
  position: relative;
  width: 300px;
  height: 300px;
}
.bio img {
  z-index: 100;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 5px);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: -30px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bio .blurry {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.333)
  );
  position: absolute;
  filter: blur(10px);
  transform: scale(1);
}
